@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles */
.header-main {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 11;
  right: 0;
  background-color: rgba(0, 0, 0, 0.702);
}

.header-main .navbar-fixed-top {
  position: fixed;
  background-color: #000;
}

.festival-details-tab .nav-tabs {
  border-bottom: none;
  margin-bottom: -100px;
  display: inline-block;
}

html {
  scroll-behavior: smooth;
}
